ServicoClienteEstoque/Connected Services/ServicoEstoque/Service4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://projetoavaliativo.dm113/02" elementFormDefault="qualified" targetNamespace="http://projetoavaliativo.dm113/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51291/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="AdicionarProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroProduto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantidade" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdicionarProdutoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverEstoque">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroProduto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantidade" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverEstoqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoverEstoqueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroProduto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="VerProdutoResult" nillable="true" type="q1:ProdutoEstoqueData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>